@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--color-foreground: oklch(0.2 0.03 267);
	--color-background: oklch(0.97 0 0);
	--color-primary: oklch(66.6% 0.179 58.318);
	--color-primary-foreground: oklch(0.9696 0.0176 109.59);
}

.dark {
	--color-foreground: oklch(0.94 0 0);
	--color-background: oklch(0.27 0.03 260);
	--color-primary: oklch(66.6% 0.179 58.318);
	--color-primary-foreground: oklch(0.9696 0.0176 109.59);
}

@theme {
	--color-foreground: var(--color-foreground);
	--color-background: var(--color-background);
	--color-primary: var(--color-primary);
	--color-primary-foreground: var(--color-primary-foreground);
}
